.home{
    
    background: linear-gradient(rgba(7, 7, 7, 0.5), rgba(34, 34, 34, 0.6)), 
                url('../../assets/home.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
h1{
    color: green;
}